---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h2 class="post-title">
        {{ post.title }}
    </h2>
    {{ post.content }}
    
    <a href="{{ site.github.repository_url }}/commits/master/_posts/{{ post.filename }}"> View edits. </a>
    <span class="post-date">{{ post.date | date_to_string }}</span>
  </div>
  
  <div class="pagination">
    {% if forloop.index == 1 %}
      <a href="{{site.github.repository_name}}/{{ post.url }}"> next </a>
      {% break %}
    {% endif %}

    {% endfor %}
  </div>
</div>
